@model HomeIndexVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form id="form-generate" asp-controller="Playlists" asp-action="GeneratePlaylist" method="post">
        <div class="form-group">
            <label>Playlist Name</label>
            <input asp-for="PlaylistConfig.Title" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>UseTopTracks</label>
            <input asp-for="PlaylistConfig.UseTopTracks" type="checkbox" class="form-control" />
        </div>
        <div class="form-group">
            <label>Allow Tracks From Same Artist</label>
            <input asp-for="PlaylistConfig.AllowTracksFromSameArtist" type="checkbox" class="form-control" />
        </div>
        <div class="form-group">
            <label>Is Advanced</label>
            <input asp-for="PlaylistConfig.IsAdvanced" type="checkbox" class="form-control" />
        </div>
        <div class="form-group">
            @for (var i = 0; i < Model.PlaylistConfig.GenreConfigs.Count; i++)
            {
                @*<label for="GenreName">  @Html.TextBoxFor(m => Model.PlaylistConfig.GenreConfigs[i].Name)</label>*@
                @Html.DisplayFor(m => Model.PlaylistConfig.GenreConfigs[i].Name)
                @Html.HiddenFor(m => Model.PlaylistConfig.GenreConfigs[i].Name)
                @Html.TextBoxFor(m => Model.PlaylistConfig.GenreConfigs[i].Percentage)
                @Html.CheckBoxFor(m => Model.PlaylistConfig.GenreConfigs[i].IsChecked)

            }
        </div>
        from<input id="from" type="text" name="from">
        to<input id="to" type="text" name="to">
        <input id="travelDur" name="travelDuration" />
        @*<button type="button" onclick="Distance()">click me</button>*@
        <button type="button" onclick="shuffle()">submit</button>
    </form>
    <div id="playlist-result"></div>
</div>